<div class="container border border-success p-4"><h1>Tell us what you thought:</h1></div>

<%= render 'form', review: @review %>

<div class="container d-flex justify-content-center"><%= link_to 'Back to the restaurant', restaurant_path(@restaurant), class: "btn btn-dark" %> </div>
